@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

:root {
    --color-surface1: #505255;
    --color-surface2: #444649;
    --color-text1: #ABA6A6;
    --color-text2: #e4dbdb;
    --color-dark-square: #B58863;
    --color-light-square: #F0D9B5;
    --color-accent: #00A5CD;
    --font1: 'Roboto Mono', monospace;
}

* {
    font-family: var(--font1);
    user-select: none;
}

body {
    background-color: var(--color-surface1);
    
}

header {
    height: 50px;
    background-color: var(--color-surface2);
}

#header-items {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

#header-items > li {
    margin-right: 20px;
    font-weight: bold;
    color: var(--color-text1);
    cursor: pointer;
}

#header-items > li:hover {
    color: var(--color-text2);
}

#app {
    display: none;
}

h1 {
    text-align: center;
    color: var(--color-text1);
}

#squares {
    width: 20%;
    padding: 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    background-color: var(--color-surface2);
    border-radius: 10px;
}

.square {
    width: 166px;
    height: 166px;
    cursor: pointer;
    border: 3px solid transparent;
    border-radius: 5px;
}

.square:hover {
    border-color: var(--color-accent);
}

#light-square {
    background-color: var(--color-light-square);
}
#dark-square {
    background-color: var(--color-dark-square);
}



/* retry section */
#retry-section {
    display: none;
}

#retry-button {
    display: block;
    margin: auto;
    font-size: 36px;
}

/* Intro section */
#start-button {
    display: block;
    margin: auto;
    font-size: 36px;
}

button {
    background-color: transparent;
    padding: 10px;
    border: solid 3px var(--color-accent);
    border-radius: 10px;
    color: var(--color-accent);
    font-weight: bold;
    user-select: none;
}

button:hover {
    color: var(--color-surface1);
    background-color: var(--color-accent);
}

#settings-menu {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;

    display:none; /* flex when visible */
    justify-content: center;
    align-items: center;
}

#settings-menu .modal-background {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: var(--color-surface2);
    opacity: 0.8;
}

#settings-content {
    width: 40%;
    height: 200px;
    background-color: var(--color-surface1);
    z-index: 500;
}

#settings-content .nav-bar {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 1%;
}

#settings-content .nav-bar button {
    border: none;
    color: var(--color-text1);
    font-size: larger;
    font-weight: bold;
}

#settings-content .nav-bar button:hover {
    background-color: transparent;
    color: var(--color-text2);
} 